/* stylelint-disable */
.rs-picker {
  .rs-picker-toggle {
    &,
    &:hover {
      border-color: var(--chakra-colors-gray-200) !important;
    }
  }

  .rs-picker-toggle-active {
    box-shadow: none !important;
  }

  .rs-picker-toggle-value {
    color: var(--chakra-colors-gray-700) !important;
  }
}

.rs-calendar-show-time-dropdown {
  .rs-calendar-header-title-time {
    color: var(--chakra-colors-primary) !important;
  }

  .rs-calendar-time-dropdown-cell {
    &.rs-calendar-time-dropdown-cell-active {
      background-color: var(--chakra-colors-primary) !important;
    }

    &:not(.rs-calendar-time-dropdown-cell-active):hover {
      color: var(--chakra-colors-primary) !important;
      background-color: var(--chakra-colors-primarySub) !important;
    }
  }
}

.rs-calendar-show-month-dropdown .rs-calendar-header-title-date,
.rs-calendar-month-dropdown-year-active {
  color: var(--chakra-colors-primary) !important;
}

.rs-calendar-header-error {
  color: var(--chakra-colors-red-300) !important;

  &:hover,
  &:focus {
    color: var(--chakra-colors-white) !important;
    background-color: var(--chakra-colors-red-300) !important;
  }
}

.rs-calendar {
  width: 246px;

  .rs-calendar-table-cell:hover .rs-calendar-table-cell-content {
    color: var(--chakra-colors-primary) !important;
    background-color: var(--chakra-colors-primarySub) !important;
  }

  .rs-calendar-month-dropdown-cell-active
    .rs-calendar-month-dropdown-cell-content {
    &:hover {
      color: var(--chakra-colors-white) !important;
    }
    background-color: var(--chakra-colors-primary) !important;
  }

  .rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
    background-color: var(--chakra-colors-primary) !important;
  }

  .rs-calendar-table-cell:not(.rs-calendar-table-cell-selected) {
    .rs-calendar-table-cell-content:hover,
    .rs-calendar-table-cell-day:hover {
      color: var(--chakra-colors-primary) !important;
      background-color: var(--chakra-colors-primarySub) !important;
    }
  }

  .rs-calendar-table-cell-selected {
    &:hover .rs-calendar-table-cell-content,
    .rs-calendar-table-cell-content:hover,
    .rs-calendar-table-cell-day:hover {
      color: var(--chakra-colors-white) !important;
    }
  }

  .rs-calendar-table-cell-in-range::before {
    background-color: var(--chakra-colors-primarySub) !important;
  }

  .rs-calendar-table-cell-is-today .rs-calendar-table-cell-content {
    box-shadow: inset 0 0 0 1px var(--chakra-colors-primary);
  }
}

.rs-picker-toolbar {
  .rs-picker-toolbar-ranges .rs-btn {
    color: var(--chakra-colors-grayAlternatives-300) !important;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .rs-btn-primary {
    background-color: var(--chakra-colors-primary) !important;
  }
}
