.rc-pagination {
  display: flex;
  align-items: center;
  list-style: none;

  li:not(.rc-pagination-options) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  .rc-pagination-jump-prev,
  .rc-pagination-jump-next {
    padding-bottom: 8px;
    font-weight: 600;
  }

  .rc-pagination-item {
    font-size: 12px;
    border: 1px solid #ccd3db;
    border-radius: 3px;

    &.rc-pagination-item-active {
      border: none;
      color: #fff;
      background-color: var(--chakra-colors-primary);
    }
  }
}
