.yarn/
**/node_modules/
**/handlebars/
**/dist/
scripts/**/template/

# Editor
packages/tkeel-console-components/src/components/Editor/basic-languages/sql.ts
packages/tkeel-console-components/src/components/Editor/basic-languages/yaml.ts
packages/tkeel-console-components/src/components/Editor/registerCompletion.ts

# React Table
packages/types-tkeel-console/react-table-config.d.ts
