# macOS
.DS_Store

# JetBrains
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

# Node.js
node_modules/

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dotenv
!.env
!.env.*
.env.local
.env.*.local

# node-config
config/local.*
config/local-*.*

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Next.js
.next/
out/

# Vercel
.vercel

# Production
build/
dist/
lib/
