/* stylelint-disable */
.ace-editor {
  border-radius: 4px;

  .ace_gutter-cell {
    padding: 0 12px;
    text-align: center;
  }

  .ace_gutter-cell {
    color: var(--chakra-colors-gray-500);
  }

  &.ace-dracula {
    .ace_gutter,
    .ace_content {
      background-color: var(--chakra-colors-gray-800);
    }
  }

  &.ace-github {
    .ace_gutter {
      background-color: var(--chakra-colors-gray-100);
    }

    .ace_content {
      background-color: var(--chakra-colors-gray-50);
    }
  }
}
